@charset "UTF-8";
/* CSS Document */

*{margin: 0;
padding: 0;}



body{
	background-color: #fff;
	font-family: "geomanistregular", sans-serif;
	color: #fff;
}

h1{
	color: #ff4684;
	font-family: "geomanistregular", sans-serif;
	text-transform: lowercase;
	font-size: 64px;
	font-weight: bold;	
}

@media (max-width: 640px)
 {
	h1{
		font-size: 42px;
	}
}



h2{
	font-family: "geomanistregular", sans-serif;
	font-weight: 550;
	text-transform: lowercase;
	color: #000;
	letter-spacing: .3em;
	font-size: 14px;
	
}

@media only screen and (max-width: 640px) {
	h2{
		font-size: 12px;
	}
}



h3{
	font-family: "geomanistregular", sans-serif;
	text-transform: lowercase;
	font-weight: bold;
	letter-spacing: .02em;
	margin-bottom: .5em;
	font-size: 22px;
	line-height: 4rem;
	margin-top: -40px;
}


p{
	font-weight: 300;
	padding-top: -5px;
	padding-bottom: 24px;
	font-size: 14px;
	line-height: 24px;
}




.pink{
	color: #ff4684;
}

a{
	text-decoration: none;
	color: #BEBCB9;
	transition: .1s;
}

a:hover{
	color: #44433F;
}


#container{
	height: 100vh;
	width: 100%;
	background-color: #fff;
}


#textContainter{

	position: relative;
	margin: -40px auto;
}

#text{
	margin: 0 auto;
	opacity: .4;
	text-align: center;
}




#logo{
		margin: 0 auto;
		display: inline;
		padding-top: 30vh;
	}



	@media(min-width: 640px) {

	}




